.DS_Store
.idea
*.log
tmp/


# Created by https://www.gitignore.io/api/haskell
.DS_Store
result


### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

#cachix/pre-commit
.pre-commit-config.yaml


#js
.cache
node_modules
package-lock.json
